<h1>Formulario Paises</h1>
<%= form_with(model: @pais,url: actualizar_pais_path,  local:true ) do |form| %>
  <%= render 'formulario', pais: @pais, f: form %>
<% end %>
<%= link_to 'Regresar', paises_inicio_path %>
