<h1>Formulario Estado</h1>
<%= form_with(model: @estado,url: actualizar_estado_path,  local:true ) do |form| %>
  <%= render 'formulario', estado: @estado, f: form %>
<% end %>
<%= link_to 'Regresar', estados_inicio_path %>
